
# This configuration file is if you only wish to use
# the audio functionality of the Android device.

# Make sure pulseaudio is running before you attach the
# device and start the AAP-Bridge:
# sudo service pulseaudio start
# As a alternative, you can put the following in /etc/defaults/pulseaudio
# PULSEAUDIO_SYSTEM_START=1
# DISALLOW_MODULE_LOADING=0

# Make sure anyone can load pulseaudio modules
# In /etc/pulse/system.pa change the line that says:
# load module module-native-protocol-unix
# to:
# load-module module-native-protocol-unix auth-anonymous=1

UUIDS = [
    
]

# At the moment we can't use both accessory mode and
# accessory audio mode. We need to keep the following
# fields blank to disable accessory mode.

manufacturer    = ""
modelName       = ""
description     = ""
version         = ""
uri             = ""
serialNumber    = ""

