# This configuration is made for the MediaRemote manager app.
# Rhythmbox should be running before connecting.

# This file is used by the AAP-Brdige program.
# The program searches in the following paths for this
# configuration file (The first configuration file found is used):
# 1 ./AAP-Bridge.config
# 2 /etc/AAP-Bridge/AAP-Bridge.config

# This variable is not used at the moment of writing.
# The AAP-Bridge will always use the session bus for all d-bus activity.
BUS = "DBUS_BUS_SESSION"

# UUID's are used for bluetooth identification. You could have
# multiple cascading uuid classes. Most of the time, you will
# only need one. If you use multiple ones, put the most specific
# service uuid on top and least specific one last. Don't use these
# uuid's! Generate your own using the program "uuidgen"
UUIDS = [
    "293c4c7b-bb94-4bf6-a421-33509b983467",
    "a48e5d50-188b-4fca-b261-89c13914e118"
]

# The following fields are used for identification on USB.
# Android will start a application which contains the same
# information when the Android device is connected to this
# accessory using usb. You should explicitly set the variables
# to a empty string if you don't use that variable.Otherwise
# default values will be used.
manufacturer    = "ICT"
modelName       = "MediaRemote"
description     = "Control Rhythmbox using your phone"
version         = "1.0"
uri             = "http://dev.bennyjacobs.nl/AAP-Bridge/Android/MediaRemote/"
serialNumber    = ""

# The description variable will be visible to the user when there is
# no manager for this accessory on the Android phone.
# The uri must be fully qualified (protocol prepended, http or https for example)
