<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.ict.aapbridge.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17"/>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="nl.ict.aapbridge.test" />

    <application android:label="@string/app_name" android:allowBackup="true">

        <uses-library android:name="android.test.runner" />
        <uses-library
            android:name="com.android.future.usb.accessory"
            android:required="true" />

        <service
            android:name=".UsbConnectorService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>